[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rembg = "*"
celery = {extras = ["redis"], version = "*"}
aiogram = "*"

[requires]
python_version = "3.8"
