[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rembg = "*"
celery = {extras = ["pytest"], version = "*"}
aiogram = "*"
pytest = "*"
pytest-celery = "*"

[requires]
python_version = "3.8"
